# See https://help.github.com/ignore-files/ for more about ignoring files.
config/secrets.yml
docker_login

# dependencies
/node_modules

# testing
/coverage

# local
.mysql
.mysql-log
.redis
.elasticsearchdata

# production
/build

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
config/local-*.yaml
_misc

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode
.nyc_output
newrelic_agent.log

# POST /file endpoint creates files in development and test environments
.store-test
.store-development

.vagrant
Vagrantfile

cached_pages
_misc.js
