extends layout

block content
  h1= title
  p Upload a csv or text file with a list of queries. There should be one query per line.
  p
    strong How this works?
    |  We will search google with a given query. We will open the top 5 results and scrape each page for email addresses.
  #drop-area
    h3 Drag and Drop Files Here
    input(type='file')
  .res
  script(src='https://code.jquery.com/jquery-3.2.1.min.js')
  script(src='/js/dm-uploader.js')
  script(src='/js/main.js')

